:root {
    --dotaRed: #9c3627;
    --dotaYellow: #f5bf23;
    --frameRed: #381518;
    --dotaFontClr: #a8babc;
    --bgClr: #232425;
    --frameClr: #252627;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bgClr);
    color: var(--dotaFontClr);
}

header {
    position: relative;
    padding: 1em;
    text-align: center;
    background: var(--dotaRed);
    color: #eee;
    letter-spacing: 10px;
    box-shadow: 0 3px 20px #000;
}
    header span {
        letter-spacing: 0;
        position: absolute;
        background-color: var(--dotaYellow);
        padding: .25em 1em;
        font-size: 1.5rem;
        color: #111;
        border-radius: .25em;
        transform: rotate(-15deg);
        margin: -.25em 0 0 3em;
    }

.gameplay {
    max-width: 900px;
    min-height: 35rem;
    background-color: var(--frameClr);
    margin: 5em 15%;
    padding: .25em;
    display: flex;
    box-shadow: 1px 1px 25px #000,
                -1px -1px 25px #000;
}

.hangman-tries-left, .hero-name-letters {
    background-color: var(--bgClr);
    outline: 3px solid #000;
    border: 3px solid var(--frameRed);
    box-shadow: inset 3px 3px 20px #000,
                inset -3px -3px 20px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .75em;
    text-align: center;
}
    .hangman, .tries-left {
        margin: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hangman {
        flex: 1;
        padding: 1em;
    }
        .hangman img {
            width: 90%;
            object-fit: cover;
            box-shadow: 0 70px 50px -50px #000;
        }

    .tries-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        font-size: 1.25rem;
    }
        .tries-left p {
            margin: .25em 0;
        }
        .tries-left p span {
            font-size: 2rem;
        }
        .tries-left #mistakes, 
        .tries-left #maxWrong {
            color: var(--dotaYellow);
        }

.hero-name-letters {
    flex: 3;
    padding: 2em 1em .5em;
    font-size: 1.25rem;
}

button {
    cursor: pointer;
}

.letters {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .5em;
    justify-content: space-between;
}
    .letters button {
        padding: 0 .5em;
        font-size: 1.25rem;
        box-shadow: 2px 2px 5px #000;
    }
    .letters button:disabled {
        background-color: #ccc;
        transform: scale(.9);
    }

#start {
    outline: none;
    border: 1px solid #000;
    box-shadow: 2px 2px 20px #000;
    width: 30%;
    font-size: 1.5rem;
    padding: .25em 0;
    background-color: var(--dotaRed);
    color: var(--dotaFontClr);
    transition: .5s;
}
    #start:hover {
        filter: brightness(110%);
    }
    #start:active {
        transform: scale(.95);
    }

.animOnMiss {
    animation: scaleOnMiss .5s ease-in-out;
}
@keyframes scaleOnMiss {
    50% {
        transform: scale(1.1);
    }
}

img.fadeIn {
    width: 100%;
}

.fadeIn {
    animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lost, .won {
    font-size: 1.5rem;
}
.lost {color: crimson}
.won {color: lime}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .gameplay {
        min-height: 80vh;
        padding: 1em;
        flex-direction: column;
    }
    .hangman-tries-left {
        flex-direction: row;
    }
}
@media only screen and (max-width: 414px) {
    html {
        font-size: 10px;
    }
    .gameplay {
        min-height: 80vh;
        margin: 4em 2em;
        padding: .5em;
        flex-direction: column;
    }
    .hangman-tries-left {
        flex-direction: row;
    }
    .hero-name-letters {
        padding: 2em .5em 1em;
    }
}